.interruptsOverflow {
  width: 1024px;
  overflow-y: auto;
}

.interrupts {
  border-radius: 0.5rem;
  width: 1008px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.interrupts div {
  display: flex;
  width: 100%;
}

.interrupts div p {
  padding: 0.5rem;
  text-align: center;
}

.interrupts div p:first-child{
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-weight: bold;
  width: 7rem;
}

.interrupts div p:not(:first-child){
  background:rgba(255, 0, 0, 0.219);
  width: 100%;
}

.interrupts div p:last-child {
  background:rgba(255, 0, 0, 0.438);
  font-weight: bold;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 3rem;
}