#reportProcess {
  display: flex;
  justify-content:center;
}

#reportProcess > p {
  padding: 0.3rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.report {
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;

  align-items: center;
  gap: 1rem;
}
